.customMainImg {
  width: 100%;
  height: 260px;
  border-radius: 6px 6px 0 0;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 559px) {
  .customMainImg {
    height: 100px;
  }
}

.customImg {
  width: 100%;
  height: 120px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 559px) {
  .customImg {
    height: 100px;
  }
}

.blogImg {
  width: 100%;
  height: 260px;
  border-radius: 8px 8px 0 0;
}

@media screen and (max-width: 559px) {
  .blogImg {
    width: 100vw;
    height: 220px;
    left: calc(-4% - 1px);
    border-radius: 0;
  }
}

.active {
  border-bottom: 2px solid #e68123;
}
