* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Lato';
  line-height: 1.6;
  word-wrap: break-word;
  font-kerning: normal;
}

.customImg {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  margin-right: 2rem;
}
